# Indroduction

Buildables Data Science Fellowship - Basic Python Exercises<br>
Author: Ahmed Hassan<br>
Date: 19 June 2025

# Exercise 1: Sum of Two Numbers

In [2]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("The sum is:", a + b)

Enter first number: 2
Enter second number: 3
The sum is: 5.0

# Exercise 2: Area of a Circle

In [3]:
import math
r = float(input("\nEnter the radius of the circle: "))
area = math.pi * r * r
print("The area of the circle is:", area)

Enter the radius of the circle: 23
The area of the circle is: 1661.9025137490005

# Exercise 3: Even or Odd

In [4]:
a = int(input("\nEnter a number: "))
if a % 2 == 0:
    print(a, "is even")
else:
    print(a, "is odd")

Enter a number: 34
34 is even

# Exercise 4: Simple Calculator

In [5]:
a = float(input("\nEnter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == "+":
    result = a + b
elif op == "-":
    result = a - b
elif op == "*":
    result = a * b
elif op == "/":
    if b != 0:
        result = a / b
    else:
        result = "Undefined (division by zero)"
else:
    result = "Invalid operator"

print("The result is:", result)

Enter first number: 34
Enter second number: 2
Enter operation (+, -, *, /): -
The result is: 32.0

# Exercise 5: Find the Largest Number

In [6]:
a = float(input("\nEnter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 2
Enter second number: 4
Enter third number: 65
The largest number is: 65.0

# Exercise 6: Reverse a String3

In [7]:
a = input("\nEnter a string: ")
print("The reversed string is:", a[::-1])

Enter a string: hassan
The reversed string is: nassah

# Exercise 7: Count Vowels

In [8]:
a = input("\nEnter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for ch in a if ch in vowels)
print("The number of vowels is:", count)

Enter a string: Hassan
The number of vowels is: 2

# Exercise 8: Fibonacci Sequence

In [11]:
n = int(input("\nHow many terms? "))
f1, f2 = 0, 1
print("Fibonacci sequence:")
for i in range(n):
    print(f1, end=" ")
    f1, f2 = f2, f1 + f2
print()

How many terms? 4
Fibonacci sequence:
0 1 1 2

# Exercise 9: Check for Palindrome

In [10]:
a = input("\nEnter a string: ")
if a == a[::-1]:
    print(a, "is a palindrome")
else:
    print(a, "is not a palindrome")

Enter a string: 34
34 is not a palindrome